<br>
<br>
<br>
<br>
<br>
<br>
<section id="details" class="details">
    <div class="container">
<div class="row content">
    <div class="col-md-3 order-1 order-md-2" data-aos="fade-left">
      <img src="assets/img/details-2.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
      <h3>Advertisers & Marketers</h3>
     <br>
     
      
      <p>
        The Nexus Adex Audience Network applies programmatic technology to scale massive amounts of audience data. We deliver performance in largely untapped mobile marketplaces through our technology and partners. With the world's fastest bid system and largest audience network, we bring the customers so that you can bring the business.
      </p>
    </div>
</div>
</div>
</section>