<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bootslander Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><span>Bootslander</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
          <li><a class="nav-link scrollto" routerLink="/features">Features</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" routerLink="/team">Team</a></li>
          <li><a class="nav-link scrollto" routerLink="/pricing">Pricing</a></li>
  <app-dropdown></app-dropdown>
          <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>