<br>
<br>
<br>
<section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>PRODUCTS</h2>
        <p>Use Nexus Adex's unmatched data, reach and partners to fuel successful campaigns</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3 style="  background: rgb(17, 121, 182);
              ;">Audience Data</h3>
            
              <ul>
                <li>We aggregate first-party</li>
                <li>audience data from popular</li>
                <li>platforms that reach</li>
                <li>hundreds of millions of</li>
                <li>unique users to add on to</li>
                <li>your own audience
                </li>
                <li>knowledge.</li>
              </ul>
              
            </div>
          </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
            <h3 style="background: rgb(17, 121, 182);">Real-time Campaigns
            </h3>
            <ul>
              <li>Campaigns can be analyzed</li>
              <li>and optimized within</li>
              <li>seconds, helping you</li>
              <li>maximize your ad budgets</li>
              <li>and see results.</li>
            </ul>
            
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3 style="background: rgb(17, 121, 182);">Layered Campaigns</h3>
              
              <ul>
                <li>Manage media buying at</li>
                <li>campaign, ad set and multiple
                </li>
                <li>creative levels, with</li>
                <li>professional tools for</li>
                <li>targeting and frequency</li>
                <li>capping.</li>
              </ul>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3 style="  background: rgb(17, 121, 182); ">Direct Engagement</h3>
              
              <ul>
                <li>Connect to millions of devices
                </li>
                <li>across our global supply.
                </li>
                <li>retarget audiences based on
                </li>
                <li>our partner's first party data
                </li>
                <li>or the result of your own
                </li>
                <li>
                    campaigns.

                </li>
              </ul>
              
            </div>
          </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->